@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #f8fbe5;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: #000000;
}

section.imagem {
    background-color: rgb(49, 48, 48);
    color: rgb(216, 224, 159);
}

section.imagem  p {
    background-color: #0000005f;
    width: 400px;
}







footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}
